.grid {
    display: block;
    text-align: center;
    padding-top: 25px;
}

.row {
    display: inline-grid;
}
.column {
    background-color: rgb(170, 170, 170);
    border: 0.1px solid rgb(0, 0, 0);
    height: 5px;
    width: 5px;
}